<?xml version="1.0" encoding="utf-8"?>
<!--
  !!!!! Please Remember to un/comment Prod vs Test/Dev Connection String and Web References before publish!!!!!
  -->
<configuration>
  <configSections>
    <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468-->
    <section name="payPal" type="System.Configuration.NameValueSectionHandler" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="slf4net" type="slf4net.Configuration.SlfConfigurationSection, slf4net" />
    <sectionGroup name="ColleagueSettings" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="DmiParameters" type="Ellucian.WebServices.Core.Config.DmiParameterCustomSection, Ellucian.WebServices.Core.Config, Version=1.14.0.0, Culture=neutral, PublicKeyToken=55c547a3498c89fb" />
      <section name="DmiSecurityParameters" type="Ellucian.WebServices.Core.Config.DmiSecurityParameterCustomSection, Ellucian.WebServices.Core.Config, Version=1.14.0.0, Culture=neutral, PublicKeyToken=55c547a3498c89fb" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\DatabaseFileName.mdf;InitialCatalog=DatabaseName;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="ADConnectionString" connectionString="LDAP://lethbridgecollege.ab.ca:389/DC=lethbridgecollege,DC=ab,DC=ca" />
    <!-- Databases -->
    <!-- Development Environment -->
    <!-- Development Colleague Database -->
    <add name="colldb_entities" connectionString="metadata=res://*/Models.Colldb.colldb.csdl|res://*/Models.Colldb.colldb.ssdl|res://*/Models.Colldb.colldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=datateldbt\dttstsql;initial catalog=coll18_developmentsql;user id=imp_reporting;password=canOpener42;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="lcapasdb_entities" connectionString="metadata=res://*/Models.Lcappsdb.Lcapasdb.csdl|res://*/Models.Lcappsdb.Lcapasdb.ssdl|res://*/Models.Lcappsdb.Lcapasdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lcdbsup;initial catalog=lcapasdb_dev;persist security info=True;user id=lcuser;password=LcUs3rpw!;connection timeout=120;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- Test Environment -->
    <!-- Patch Colleague Database -->
    <!--<add name="colldb_entities" connectionString="metadata=res://*/Models.Colldb.colldb.csdl|res://*/Models.Colldb.colldb.ssdl|res://*/Models.Colldb.colldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=datateldbt\dttstsql;initial catalog=coll18_patchsql;user id=imp_reporting;password=canOpener42;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="lcapasdb_entities" connectionString="metadata=res://*/Models.Lcappsdb.Lcapasdb.csdl|res://*/Models.Lcappsdb.Lcapasdb.ssdl|res://*/Models.Lcappsdb.Lcapasdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lcdbsup;initial catalog=lcapasdb_test;persist security info=True;user id=lcuser;password=LcUs3rpw!;connection timeout=120;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!-- Test Colleague Database -->
    <!--<add name="colldb_entities" connectionString="metadata=res://*/Models.Colldb.colldb.csdl|res://*/Models.Colldb.colldb.ssdl|res://*/Models.Colldb.colldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=datateldbt\dttstsql;initial catalog=coll18_testsql;user id=imp_reporting;password=canOpener42;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="lcapasdb_entities" connectionString="metadata=res://*/Models.Lcappsdb.Lcapasdb.csdl|res://*/Models.Lcappsdb.Lcapasdb.ssdl|res://*/Models.Lcappsdb.Lcapasdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lcdbsup;initial catalog=lcapasdb_test;persist security info=True;user id=lcuser;password=LcUs3rpw!;connection timeout=120;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!-- ROTest Colleague Database -->
    <!--<add name="colldb_entities" connectionString="metadata=res://*/Models.Colldb.colldb.csdl|res://*/Models.Colldb.colldb.ssdl|res://*/Models.Colldb.colldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=datateldbt\dttstsql;initial catalog=coll18_ROTestSql;user id=imp_reporting;password=canOpener42;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="lcapasdb_entities" connectionString="metadata=res://*/Models.Lcappsdb.Lcapasdb.csdl|res://*/Models.Lcappsdb.Lcapasdb.ssdl|res://*/Models.Lcappsdb.Lcapasdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lcdbsup;initial catalog=lcapasdb_test;persist security info=True;user id=lcuser;password=LcUs3rpw!;connection timeout=120;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!-- Production Environment -->
    <!--<add name="colldb_entities" connectionString="metadata=res://*/Models.Colldb.colldb.csdl|res://*/Models.Colldb.colldb.ssdl|res://*/Models.Colldb.colldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=datateldb\dtprodsql;initial catalog=coll18_productionsql;user id=imp_reporting;password=canOpener42;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="lcapasdb_entities" connectionString="metadata=res://*/Models.Lcappsdb.Lcapasdb.csdl|res://*/Models.Lcappsdb.Lcapasdb.ssdl|res://*/Models.Lcappsdb.Lcapasdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lcdb01;initial catalog=lcapasdb_prod;persist security info=True;user id=lcuser;password=LcUs3rpw!;connection timeout=120;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <ColleagueSettings>
    <!-- Development DMI Settings -->
    <DmiParameters environment="DevelopmentSql_rt" address="coltestap.lethbridgecollege.ab.ca" port="8271" secure="False" certificateHostnameOverride="" connectionPoolSize="1" />
    <DmiSecurityParameters sharedSecret="test_webapi" />
    <!-- Test DMI Settings -->
    <!--<DmiParameters environment="TestSql_rt" address="coltestap.lethbridgecollege.ab.ca" port="8262" secure="False" certificateHostnameOverride="" connectionPoolSize="1"/>-->
    <!--<DmiSecurityParameters sharedSecret="test_webapi"/>-->
    <!-- ROTest DMI Settings -->
    <!--<DmiParameters environment="ROTestSql_rt" address="coltestap.lethbridgecollege.ab.ca" port="8282" secure="False" certificateHostnameOverride="" connectionPoolSize="1"/>-->
    <!--<DmiSecurityParameters sharedSecret="test_webapi"/>-->
    <!-- Patch DMI Settings -->
    <!--<DmiParameters environment="PatchSql_rt" address="coltestap.lethbridgecollege.ab.ca" port="7266" secure="False" certificateHostnameOverride="" connectionPoolSize="1"/>-->
    <!--<DmiSecurityParameters sharedSecret="test_webapi"/>-->
    <!-- Production DMI Settings -->
    <!--<DmiParameters environment="ProductionSql_rt" address="colprodap.lethbridgecollege.ab.ca" port="7241" secure="False" certificateHostnameOverride="" connectionPoolSize="1"/>-->
    <!--<DmiSecurityParameters sharedSecret="prod_webapi"/>-->
  </ColleagueSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms name=".ADAuthCookie" loginUrl="Login/Index/" timeout="200" slidingExpiration="true" protection="All" />
    </authentication>
    <httpRuntime targetFramework="4.6.1" />
    <compilation debug="true" targetFramework="4.7.1" />
    <authorization>
      <allow users="*" />
    </authorization>
    <membership defaultProvider="ADMembershipProvider">
      <providers>
        <clear />
        <add name="ADMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnectionString" attributeMapUsername="sAMAccountName" />
      </providers>
    </membership>
    <customErrors mode="On" defaultRedirect="~/Error/Index/">
      <error redirect="~/Error/NotFound/" statusCode="404" />
      <error redirect="~/Error/Error/" statusCode="500" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.3.0" newVersion="4.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
    <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSchUseStrongCrypto=true" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <slf4net>
    <factory type="Ellucian.Logging.EnterpriseLibraryLoggerFactory, Ellucian.Logging, Version=1.0.0, Culture=neutral, PublicKeyToken=55c547a3498c89fb" />
  </slf4net>
  <loggingConfiguration name="" tracingEnabled="false" defaultCategory="EllucianAppDebug">
    <logFilters>
      <add name="LogEnabled Filter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" enabled="false" />
    </logFilters>
    <listeners>
      <add name="SVRFILE" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="App_Data\\Logs\\MvcAppDebugLog.txt" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Day" maxArchivedFiles="50" traceOutputOptions="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{message}{newline}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="Error" name="EllucianAppDebug">
        <listeners>
          <add name="SVRFILE" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="SVRFILE" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>