
<div class="navigation row">
    <div class="left-nav col-md-12">
        <ul>
            <li class="@Html.ActivePage("Index", "DataShare")">@Html.LcActionLink("DataShare Home", "Index", "DataShare")</li>
            <li class="@Html.ActivePage("DataShare", "DataShare")">@Html.LcActionLink("U of L Applications", "DataShare", "DataShare")</li>
        </ul>
    </div>
</div>